# Ignore binary
multiclusterhub-repo
start-repo
.DS_Store

build-harness
build-harness-extensions
.build-harness
.build-harness-bootstrap

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions 

# ignore packaged versions of charts
multiclusterhub/charts/*.tgz

# ignore vscode
.vscode