# Copyright (c) 2021 Red Hat, Inc.
# Copyright Contributors to the Open Cluster Management project
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.org }}:{{ .Release.Name }}:search-collector
subjects:
- kind: ServiceAccount
  name: search-collector
  namespace: {{ .Release.Namespace }} 
roleRef:
  kind: ClusterRole
  name: {{ .Values.org }}:{{ .Release.Name }}:search-collector
  apiGroup: rbac.authorization.k8s.io
